
select:focus {
    outline: none;
    border-color: #00bcd4;
    box-shadow: 0 0 5px #00bcd4;
  }
  
  select {
    padding: 8px;
    size: 10000;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
  }
  
  
  option {
    font-size: 20px;
    padding: 50px;
    font-weight: bold;
    padding: 30px;
    /* background-color: #f8f8f8; */
    /* color: #333; */
  }
  
  /* option:hover {
    /* background-color: black; */
  /* } */ 
  